@media (min-width: 1024px) {
  .image-tiles {
    display: inline-block;
  }

  .tile {
    display: inline-block;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .image-tiles {
    display: inline-block;
  }

  .tile {
    display: inline-block;
  }
}

@media (min-width: 512px) and (max-width: 767px) {
  .input-date-picker {
    box-sizing: border-box;
    width: 80vw;
    margin: 5vw;
    padding: 0.5vw 0 0.5vw 1vw;
  }
  .input-block {
    box-sizing: border-box;
    width: 80vw;
    margin: 0 10vw 10vw 1vw;
  }
}

@media (min-width: 240px) and (max-width: 512px) {
  .image-tiles {
    display: inline-block;
    order: 2;
    margin: 0px auto;
  }

  .tile {
    display: inline-block;
    margin: 1vw 2vw 1vw 2vw;
  }

  .selected-image {
    order: 1;
  }
  .image-section{
      margin: 2vw 5vw 4vw 5vw;
  }
}

@media (max-width: 240px) {
  .image-tiles {
    display: inline-block;
    order: 2;
    margin: 0px auto;
  }

  .tile {
    display: inline-block;
    margin: 1vw 2vw 1vw 2vw;
  }

  .selected-image {
    order: 1;
  }
}
