// @media (min-width: 1024px)
// {
//    .tabs-mobile{
//        display: none;
//    }
// }

@media (min-width: 768px)
{
    .tabs-mobile{
        display: none;
    }
}

@media(min-width: 0px)and(max-width: 767px)
{
    .tabs{
        display: none;

    }

    .order-buttons-desktop{
     display: none
    }
}

//   @media (min-width: 240px) and (max-width: 512px) {	
   
//      .tabs{
//          display: none;

//      }


//   	}
//   @media (max-width: 240px) {	

//     .tabs{
//         display: none;

//     }

//   	}
